@font-face {
	font-family: 'Code';
	src: url('fonts/code_light.otf');
	src: url('fonts/code_light.eot#iefix') format('embedded-opentype'),
	   url('fonts/code_light.ttf') format('truetype'),
	   url('fonts/code_light.woff') format('woff');
}
@font-face {
	font-family: 'CodeBold';
	src: url("fonts/code_bold.otf");
}
   
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600);

* { margin:0; }

html, body{
    height:100%;
    width: 100%;
}


/* Header style */

header
{
	position: fixed;
	top: 0;
	left: 0;
	background-color: #531931;
	width: 100%;
	height: 50px;
	z-index: 10;
}

header h1
{
	font-family: 'Code';
	font-size: 30px;
	margin: 10px 0 10px 10px; 
	float: left;
	color: white;
}

header ul
{

	display: inline-block;
	float: right;
	text-transform: uppercase;
	list-style-type: none;
	margin-right: 30px;

}

header li
{

	display: inline-block;
	margin: 10px 5px 0 0;
	
}

header li a
{
	text-decoration: none;
	text-indent: none;
	font-size: 20px;
	font-family: 'Open Sans';
	font-weight: 300;
	color: #C5CFD0;
}


header li a:hover
{
    color: white;
    border-bottom: 1px solid white;
}

/* Left menu style */

aside
{
	display: inline-block;
	height: 100%;
	background-color: #C5CFD0;
	position: fixed;
	top:  0;
	left: 0;
}

aside ul
{
	margin-top: 70px;
	margin-left: 0;
	list-style-type: none;
	text-indent: none;
	line-height: 50px;
	list-style:none;
    padding-left:0;
    text-transform: uppercase;
}

aside li a
{
	text-decoration: none;
	text-indent: none;
	font-size: 20px;
	font-family: 'Open Sans';
	font-weight: 300;
	color: black;
	margin-left: 20px;
	margin-right: 20px;
}

aside li a:hover
{
	color: #531931;
    border-bottom: 1px solid #531931;
}

/* container style */

#container
{
	display: inline-block;
	margin: 84px 0 0 200px;
	font-family: 'Open Sans';
	font-weight: 300;
}

#container h1
{
	font-size: 30px;
	margin-bottom: 0;
	font-weight: 300;
	font-family: 'Open Sans';
	color: #C5CFD0;
}

#container h2
{
	font-size: 20px;
	margin-bottom: 20px;
}

#container h3
{
	font-size: 15px;
	margin-bottom: 15px;
	font-family: 'Open Sans';
	font-weight: 300;
}
#container ul li
{
	list-style-type: none;
}

form
{
	margin-top: 20px;
	margin-bottom: 20px;
}

input[type="text"]
{
	width: 200px;
}

input[class="song_curator"],
input[class="song_genre"]
{
	width: 80px;
}

input[class="song_artist"]
{
	width: 120px;
}

#track_list input[type="submit"]
{
	margin-top: 20px;
	font-size: 20px;
	font-family: 'Open Sans';
	font-weight: 300;
	width: 100px;
	height: 60px;
}

#curators_displaying ul li
{
	display: inline-block;
	vertical-align: middle;
	margin: 0 10px 5px 10px;
}

#curators_displaying ul li img
{
	width: 50px;
	height: 50px;
}

.icon-move
{
	width: 10px;
	height: 10px;
	display: inline-block;
	margin-right: 10px;
}

#sortable
{
	list-style-type: none;
	list-style:none;
    padding-left:0;
}

#trackOrder
{
	width: 3vh;
	display: inline-block;
}

#checkDone
{
	height: 50px;
	display: inline-block;
	vertical-align: middle;
}

#checkDoneLink
{
	border-radius: 5px;
	padding-top: 2px;
	width: 150px;
	height: 30px;
	border: 1px solid grey;
	text-align: center;
	font-size: 20px;
	text-decoration: none;
	color: grey;
	background-color: #e6e6e6;
	display: inline-block;
	vertical-align: middle;
	transition: 0.25s;
}

#checkDoneLink:hover
{
	background-color: #d9d8d8;
	color: black;
	border: 1px solid black;
}

.playPauseIcon
{
	padding: 0, 20px, 0, 20px;
	display: inline-block;
	height: 20px;
	width: 50px;
	vertical-align: middle;
}

.pause
{
	background: url(pictures/pause_bo_icon.svg) center no-repeat no-repeat;
	background-size: auto 15px;
	height: 20px;
}

.play
{
	background: url(pictures/play_bo_icon.svg) center no-repeat no-repeat;
	background-size: auto 15px;
	height: 20px;
}
ol li
{
	position: relative;
	margin: 2px 0px 2px 0px;
	padding-bottom: 2px;
	/*border-top: 1px solid grey;
	border-bottom: 1px solid grey;*/
	vertical-align: middle;
}
ol li:hover
{
	background-color: #ebebeb;
}

.optionsMenuBo
{
	position: absolute;
	left: 935px;
	top: 0px;
	width: 130px;
	background-color: black;
	padding-left: 5px;
	padding-bottom: 5px;
	border-radius: 5px;
	opacity: 0.75;
	display: none;
}

.optionsMenuBo a
{
	color: white;
	text-decoration: none;
	font-size: 10px;
}

.optionsMenuBo a:hover
{
	border-bottom: 1px solid white;
}


/* shared with before and after */
.optionsMenuBo:before, .optionsMenuBo:after {
	content: ' ';
	height: 0;
	position: absolute;
	width: 0;
	border-bottom: 8px solid transparent;  /* left arrow slant */
	border-top: 8px solid transparent; /* right arrow slant */
	border-right: 8px solid black; /* bottom, add background color here */
	font-size: 0;
	line-height: 0;
}


/* top-stacked, smaller arrow */
.optionsMenuBo:before {
	border-bottom-color: #fff;  /* arrow color */
	/* positioning */
	position: absolute;
	top: 5px;
	left: -8px;
	z-index: 2;
}

/* arrow which acts as a background shadow */
.optionsMenuBo:after {
	border-bottom-color: #333;  /* arrow color */
	/* positioning */
	position: absolute;
	top: 5px;
	left: -8px;
	z-index: 1;
}

