@font-face {
  font-family: 'Code';
  src: url('fonts/code_light.otf');
  src: url('fonts/code_light.eot#iefix') format('embedded-opentype'),
       url('fonts/code_light.ttf') format('truetype'),
       url('fonts/code_light.woff') format('woff');
   }
@font-face {
  font-family: 'CodeBold';
  src: url("fonts/code_bold.otf");
   }

* { margin:0; }

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600);

h1, h2, h3, h4, h5, h6 {
  margin: 10px 0;
  font-family: inherit;
  font-weight: bold;
  line-height: 30px;
  color: inherit;
  text-rendering: optimizelegibility; }
  h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
    font-weight: normal;
    line-height: 1;
    color: #999999; }


.container,
.navbar-static-top .container,
.navbar-fixed-top .container,
.navbar-fixed-bottom .container {
  width: 1080px; }

body
{
  text-align: center;
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  display: inline-block;
  height: 20px;
  padding: 4px 6px;
  font-size: 14px;
  line-height: 20px;
  color: #555555;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  vertical-align: middle; }

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  background-color: white;
  border: 1px solid white;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s; }

  textarea:focus,
  input[type="text"]:focus,
  input[type="password"]:focus,
  input[type="datetime"]:focus,
  input[type="datetime-local"]:focus,
  input[type="date"]:focus,
  input[type="month"]:focus,
  input[type="time"]:focus,
  input[type="week"]:focus,
  input[type="number"]:focus,
  input[type="email"]:focus,
  input[type="url"]:focus,
  input[type="search"]:focus,
  input[type="tel"]:focus,
  input[type="color"]:focus,
  .uneditable-input:focus {
    border-color: white;
    outline: 0;
    outline: thin dotted \9;
    /* IE6-9 */
    -webkit-box-shadow: inset 0 1px 1px white, 0 0 8px white;
    -moz-box-shadow: inset 0 1px 1px white, 0 0 8px white;
    box-shadow: inset 0 1px 1px white, 0 0 8px white; }
  
input[type="file"],
input[type="image"],
input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="radio"],
input[type="checkbox"] {
  width: auto; }



.container {
display: inline-block;
*zoom: 1; }
.container:before, .container:after {
display: table;
content: "";
line-height: 0; }
.container:after {
clear: both; }

.container-fluid {
padding-right: 20px;
padding-left: 20px;
*zoom: 1; }
.container-fluid:before, .container-fluid:after {
display: table;
content: "";
line-height: 0; }
.container-fluid:after {
clear: both; }


h1, h2, h3 {
  font-family: 'Code';
  text-align: center;
  font-weight: normal; }

h1 {
  font-family: 'Code';
  margin: 0 0 20px 0; }

h1 {
  color: #666;
  margin-top: 15%;
  font-size: 6em; }

h2 {
  color: #777;
  margin-top: 5%;
  font-size: 30px; }

h3 {
  color: #777;
  margin-top: 0px;
  font-size: 26px; }
 
 h1 a
  {
    text-decoration: none;
    color: black;
    text-align: center;
  }

  
  input[type="text"], input[type="password"]
  {
    font-family: 'open Sans';
    font-weight: 300;
    font-size: 1em;
    color: white;
    height : 25px;
    border-radius: 0px;
    width: 50%;
    background-color: #660066; }
    
  input[name="user_password2"]
  {
    font-family: 'open Sans';
    font-weight: 300;
    font-size: 1em;
    height : 25px;
    border-radius: 0px;
    width: 67%; }
    
  form input[type="submit"] {
    border-radius: 3px;
    background-color: #464545;
    color: #fff;
    padding: 4px 6px 2px;
    border: none;
    height : 35px;
    width: 35px;
    font-family: Code; 
    border: 1px solid #a0a0a0;
    }

    form input[type="submit"]:hover {
      background-color: #999; }

  header h1
  {
    margin-top: 6%;
  }
  header h2
  {
    display : block;
    margin: 6% 15% 0% 15%;
    font-family: 'open Sans';
    font-weight: 300;
    font-size: 1.7em; 
  }
  footer
  {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #660066;
    width: 100%;
    height: 23%;
  }

  #buttons_area
  {
    width: 100%;
    margin-top: 3%;
    height: 40%;
   
  }
  
  #replay 
  {
    display: inline-block;
    width:100px;
    height:100px;
    background-image: url(pictures/replay_arrow.png);
    -webkit-background-size: cover; /* pour Chrome et Safari */
    -moz-background-size: cover; /* pour Firefox */
    -o-background-size: cover; /* pour Opera */
    background-size: cover; /* version standardisée */
    vertical-align: middle;
    margin-right: 15%;
    margin-left: 15%;
  }



  .container
  {
    margin-top: 3%;
    display: inline-block;
    text-align: center;
    height: 200px;
    overflow: hidden;
    position: relative;
  }

 
 #left_arrow, #right_arrow
 {
  display: inline-block;
  width: 8%;
  height: 200px;
  width: 90px;
  text-align: center;
  z-index: 1000;
  background-color: white;
 }



#left_arrow
 {
   margin: 0 0 0 0;
   position: absolute;
   left: 0;
    top:0;
 }

  #right_arrow
 {
  float : right;
  margin: 0 0 0 0;
  position: absolute;
  right: 0;
  top:0;
 }


#left_arrow_icon,
#right_arrow_icon
{
  border-style: none;
  outline: none;
  box-shadow: none;
  z-index: 1000;
}



#left_arrow_icon:active,
#right_arrow_icon:active
{
  border-style: none;
  outline: none;
  box-shadow: none;
}

#left_arrow_icon
 {
  height: 200px;
  width: 90px;
  display: inline-block;
  background: url(pictures/left_arrow_curators.png);
  background-repeat: no-repeat;
  background-position:center center;
 }

 #left_arrow_icon:hover
 {
  
 }

 #right_arrow_icon
 {
  height: 200px;
  width: 90px;
  display: inline-block;
  background: url(pictures/right_arrow_curators.png);
  background-repeat: no-repeat;
  background-position:center center;
 }

 #right_arrow_icon:hover
 {

 }

  .curator_avatar
  {
    height: 200px;
    width: 200px;
    margin: 0 0 0 20px;
  }

.slider
  {
    width: 10000px;
    text-align: left;
    position : relative;
    padding-left: 80px;
  }



