/*Initionalisation, paramètre par défaut de bases et polices spécifiques*/

@font-face {
  font-family: 'Code';
  src: url('fonts/code_light.otf');
  src: url('fonts/code_light.eot#iefix') format('embedded-opentype'),
       url('fonts/code_light.ttf') format('truetype'),
       url('fonts/code_light.woff') format('woff');
   }
@font-face {
  font-family: 'CodeBold';
  src: url('fonts/code_bold.otf');
   }

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600);

* { margin:0; }


h1, h2, h3, h4, h5, h6 {
  margin: 10px 0;
  font-family: inherit;
  font-weight: bold;
  line-height: 30px;
  color: inherit;
  text-rendering: optimizelegibility; }
  h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
    font-weight: normal;
    line-height: 1;
    color: #999999; }



/*Page principale*/



.container,
.navbar-static-top .container,
.navbar-fixed-top .container,
.navbar-fixed-bottom .container {
  width: 1080px }

body
{
  text-align: center;
}


.container {
display: inline-block;
*zoom: 1; }
.container:before, .container:after {
display: table;
content: "";
line-height: 0; }
.container:after {
clear: both; }

.container-fluid {
padding-right: 20px;
padding-left: 20px;
*zoom: 1; }
.container-fluid:before, .container-fluid:after {
display: table;
content: "";
line-height: 0; }
.container-fluid:after {
clear: both; }


h1, h2, h3 {
  font-family: 'Code';
  text-align: center;
  font-weight: normal; }

h1 {
  font-family: 'Code';
  margin: 0 0 20px 0; }

h1 {
  color: #666;
  margin-top: 15%;
  font-size: 6em; }

h2 {
  color: #777;
  margin-top: 5%;
  font-size: 30px; }

h3 {
  color: #777;
  margin-top: 0px;
  font-size: 26px; }



  header h1
  {
    margin-top: 6%;
  }
  header h2
  {
    display : none;
    margin: 6% 15% 0% 15%;
    font-family: 'open Sans';
    font-weight: 300;
    font-size: 1.7em; 
  }
  footer
  {
    position: fixed;
    bottom: 0;
    left: 0;
    background-image: url(pictures/footer.jpg);
    width: 100%;
    height: 180px;
    z-index: 1000;
  }

  #buttons_area
  {
    width: 100%;
    margin-top: 61px;
    height: 60%;
    vertical-align: middle;
    display: inline-block;
    -webkit-transition: margin-top 0.3s;
    transition: margin-top 0.3s;
   
  }
  

 #like,
 #dislike
 {
  height: 60px;
  width: 60px;
  display: inline-block;
  vertical-align: middle;
  padding-top: 23px;
 } 

 #like
{
  margin-left: 2.3%;
}

#dislike
{
  margin-right: 2.3%;
}

input[value="-1"],
input[value="+1"]
{
  border-style: none;
  color: transparent;
  display: inline-block;
  vertical-align: middle;
    width:35px;
    height:35px;
    font-size: 0.0000001em;
}

input[value="-1"]:focus,
input[value="+1"]:focus
{
  border-style: none;
  outline: none;
  box-shadow: none;
}

input[value="-1"]
{
  display: inline-block;
  width:35px;
  height:35px;
  background: url(pictures/cross_dislike.png);
  -webkit-background-size: cover; /* pour Chrome et Safari */
  -moz-background-size: cover; /* pour Firefox */
  -o-background-size: cover; /* pour Opera */
  background-size: cover; /* version standardisée */
  vertical-align: middle;
  margin-right: 3%;
  margin-left: 3%;
  margin-top: 0;
  margin-bottom: 0;
  vertical-align: middle;

}
input[value="+1"]
{
  display: inline-block;
  width:35px;
  height:35px;
  background: url(pictures/heart_like.png);
  -webkit-background-size: cover; /* pour Chrome et Safari */
  -moz-background-size: cover; /* pour Firefox */
  -o-background-size: cover; /* pour Opera */
  background-size: cover; /* version standardisée */
  vertical-align: middle;
  margin-right: 3%;
  margin-left: 3%;
  margin-top: 0;
  margin-bottom: 0;
  vertical-align: middle;
  }





  input[value="play"],
input[value="pause"]
{
  border-style: none;
  color: transparent;
  display: inline-block;
  vertical-align: middle;
  width:52px;
  height:60px;
  font-size: 0.0000001em;
  cursor: pointer;
}

input[value="play"]:focus,
input[value="pause"]:focus
{
  border-style: none;
  outline: none;
  box-shadow: none;
}

input[value="play"]
{
  display: inline-block;
  width:60px;
  height:60px;
  background: url(pictures/play_white.png);
  -webkit-background-size: cover; /* pour Chrome et Safari */
  -moz-background-size: cover; /* pour Firefox */
  -o-background-size: cover; /* pour Opera */
  background-size: cover; /* version standardisée */
  vertical-align: middle;
  margin-right: 15%;
  margin-left: 15%;
  margin-top: 0;
  margin-bottom: 0;
  vertical-align: middle;

}
input[value="pause"]
{
  display: inline-block;
  width:60px;
  height:60px;
  background: url(pictures/pause_white.png);
  -webkit-background-size: cover; /* pour Chrome et Safari */
  -moz-background-size: cover; /* pour Firefox */
  -o-background-size: cover; /* pour Opera */
  background-size: cover; /* version standardisée */
  vertical-align: middle;
  margin-right: 15%;
  margin-left: 15%;
  margin-top: 0;
  margin-bottom: 0;
  vertical-align: middle;
  }

  .container
  {
    margin-top: 5%;
    position: relative;
    text-align: center;
    overflow: hidden;
    height: 480px;
  }

 
 #left_arrow, #right_arrow
 {
  display: inline-block;
  
  width: 90px;
  height: 280px;
  text-align: center;
  background-color: white;
  z-index: 1000;

 }

 #left_arrow
 {
   margin: 0 0 0 0;
   position: absolute;
   left: 0;
    top:0;
 }

  #right_arrow
 {
  float : right;
  margin: 0 0 0 0;
  position: absolute;
  right: 0;
  top:0;
 }

#left_arrow_icon
 {
  height: 280px;
  width: 90px;
  margin-top: 30px;
  border-style: none;
  display: inline-block;
  background: url(pictures/left_arrow.png);
  background-repeat: no-repeat;
  background-position:center center;
  -webkit-transition: background-image 0.5s;
  transition: background-image 0.5s;
 }

 #left_arrow_icon:hover
 {
  background-image: url(pictures/left_arrow_hover.png);
 }

#left_arrow_icon:focus,
#right_arrow_icon:focus
 {
  border-style: none;
  outline: none;
  box-shadow: none;
 }



 #right_arrow_icon
 {
  height: 280px;
  width: 90px;
  margin-top: 30px;
  display: inline-block;
  border-style: none;
  background: url(pictures/right_arrow.png);
  background-repeat: no-repeat;
  background-position:center center;
  -webkit-transition: background-image 0.5s;
  transition: background-image 0.5s;
 }

 #right_arrow_icon:hover
 {
  background-image: url(pictures/right_arrow_hover.png);
 }

.trackIds
{
  display: none;
}



  .like_stamp
  {
    height: 150px;
    width: 150px;
    position: absolute;
    left: 140px;
    top: 21px;
    display : none;
    -webkit-transition: display 0.5s;
    transition: display 0.5s;
  }




  .like_stamp_left
  {
    height: 150px;
    width: 150px;
    position: absolute;
    left: -10px;
    top: 21px;
    display: none;
    -webkit-transition: display 0.5s;
    transition: display 0.5s;
  }




  .dislike_stamp_left
  {
    height: 150px;
    width: 150px;
    position: absolute;
    left: -10px;
    top: 21px;
    display: none;
  }

 .sound_box
  {
    vertical-align: middle;
    display: inline-block;
    margin: 0 210px 0 210px;
    position: relative;
    height: 480px;
    width: auto;
  }
  

  .sound_cover
  {
    height: 280px;
    width: 280px;
    margin-right: 10px;
    margin-top: 30px;
    display: inline-block;
    vertical-align: middle;
  }

 

  .sound_informations
  {
    margin-top: 30px;
    display: inline-block;
    vertical-align: middle;
    padding: 0;
    overflow: hidden;
  }

  .sound_informations h3
  {
    text-align: left;
    line-height: 2.5em;
    font-size: 1.4em;

    font-family: 'open Sans';
    font-weight: 300;
    width: 363px;
    color: black;
    overflow: hidden;
  }


  .slider
  {
    width: 40000px;
    text-align: left;
    position : relative;
  }
 



#share_url
{
  width: 658px;
  margin-top: 15px;
  background-color: transparent;
  text-align: center;
  font-family: 'open Sans';
  font-weight: 300;
  font-size: 1em;
  color: white;
  height : 25px;
  border-width: 1px;
  border-radius: 0px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s; }
}

#share_url:hover
{
  border-color: white;
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */
  -webkit-box-shadow: inset 0 1px 1px white, 0 0 8px white;
  -moz-box-shadow: inset 0 1px 1px white, 0 0 8px white;
  box-shadow: inset 0 1px 1px white, 0 0 8px white; 
}

#share_link
{
  display: none;
}


input[value="-1"]:hover,
input[value="+1"]:hover
 {
    -webkit-animation-name: bounce;
    -webkit-animation-duration: 0.4s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    animation-name: bounce;
    animation-duration: 0.4s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    cursor: pointer;
}

@-webkit-keyframes bounce
 {
    45% {
        width: 25px;
        height: 25px;
        
    }
    55% {
        width:  25px;
        height: 25px;
        
    }
    75% {
        width:  50px;
        height: 50px;
        
    }
}

keyframes bounce
 {
    45% {
        width:  25px;
        height: 25px;
        
    }
    55% {
        width:  25px;
        height: 25px;
        
    }
    75% {
        width:  50px;
        height: 50px;
        
    }
}

.share_url_title
{
  font-size: 1em;
  width: 100px;
  font-family: 'open Sans';
  font-weight: 300;
  color: white;
  display: none;
}
