/*Initionalisation, paramètre par défaut de bases et polices spécifiques*/

@font-face {
  font-family: 'Code';
  src: url('fonts/code_light.otf');
  src: url('fonts/code_light.eot#iefix') format('embedded-opentype'),
       url('fonts/code_light.ttf') format('truetype'),
       url('fonts/code_light.woff') format('woff');
   }
@font-face {
  font-family: 'CodeBold';
  src: url('fonts/code_bold.otf');
   }

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600);

* { margin:0; }


h1, h2, h3, h4, h5, h6 {
  margin: 10px 0;
  font-family: inherit;
  font-weight: bold;
  line-height: 30px;
  color: inherit;
  text-rendering: optimizelegibility; }
  h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
    font-weight: normal;
    line-height: 1;
    color: #999999; }



/*Page principale*/



.container,
.navbar-static-top .container,
.navbar-fixed-top .container,
.navbar-fixed-bottom .container {
  width: 900px }

body
{
	text-align: center;
}


.container {
display: inline-block;
*zoom: 1; }
.container:before, .container:after {
display: table;
content: "";
line-height: 0; }
.container:after {
clear: both; }

.container-fluid {
padding-right: 20px;
padding-left: 20px;
*zoom: 1; }
.container-fluid:before, .container-fluid:after {
display: table;
content: "";
line-height: 0; }
.container-fluid:after {
clear: both; }


h1, h2, h3 {
  font-family: 'Code';
  text-align: center;
  font-weight: normal; }

h1 {
  font-family: 'Code';
  margin: 0 0 20px 0; }

h1 {
  color: #666;
  margin-top: 15%;
  font-size: 5.5em; }

h2 {
  color: #777;
  margin-top: 5%;
  font-size: 30px; }

h3 {
  color: #777;
  margin-top: 0px;
  font-size: 26px; }



  header h1
  {
    margin-top: 6%;
  }
  header h2
  {
    display : none;
    margin: 6% 15% 0% 15%;
    font-family: 'open Sans';
    font-weight: 300;
    font-size: 1.7em; 
  }
  footer
  {
    position: fixed;
    bottom: 0;
    left: 0;
    background-image: url(pictures/footer2.jpg);
    width: 100%;
    height: 150px;
    z-index: 1000;
  }

  #buttons_area
  {
    width: 100%;
    margin-top: 39px;
    height: 30%;
    -webkit-transition: margin-top 0.3s;
    transition: margin-top 0.3s;
   
  }
  

#like,
 #dislike
 {
  height: 50px;
  width: 50px;
  display: inline-block;
  vertical-align: middle;
  padding-top: 23px;
 } 

 #like
{
  margin-left: 2.3%;
}

#dislike
{
  margin-right: 2.3%;
}

#minus_one
{
  display: inline-block;
  width:30px;
  height:30px;
  background: url(pictures/broken_heart2.png);
  -webkit-background-size: cover; /* pour Chrome et Safari */
  -moz-background-size: cover; /* pour Firefox */
  -o-background-size: cover; /* pour Opera */
  background-size: cover; /* version standardisée */
  vertical-align: middle;
  margin-right: 3%;
  margin-left: 3%;
  margin-top: 0;
  margin-bottom: 0;
  vertical-align: middle;

}
#plus_one
{
  display: inline-block;
  width:30px;
  height:30px;
  background: url(pictures/heart_like.png);
  -webkit-background-size: cover; /* pour Chrome et Safari */
  -moz-background-size: cover; /* pour Firefox */
  -o-background-size: cover; /* pour Opera */
  background-size: cover; /* version standardisée */
  vertical-align: middle;
  margin-right: 3%;
  margin-left: 3%;
  margin-top: 0;
  margin-bottom: 0;
  vertical-align: middle;
  }

  input[value="play"],
input[value="pause"]
{
  border-style: none;
  color: transparent;
  display: inline-block;
    width:52px;
    height:60px;
    font-size: 0.0000001em;
    cursor: pointer;
}

input[value="play"]:focus,
input[value="pause"]:focus
{
  border-style: none;
  outline: none;
  box-shadow: none;
}

input[value="play"]
{
  display: inline-block;
  width:60px;
  height:60px;
  background: url(pictures/play_white_smallRes.png);
  -webkit-background-size: cover; /* pour Chrome et Safari */
  -moz-background-size: cover; /* pour Firefox */
  -o-background-size: cover; /* pour Opera */
  background-size: cover; /* version standardisée */
  vertical-align: middle;
  margin-right: 15%;
  margin-left: 15%;
  margin-top: 0;
  margin-bottom: 0;
  vertical-align: middle;

}
input[value="pause"]
{
  display: inline-block;
  width:60px;
  height:60px;
  background: url(pictures/pause_white_smallRes.png);
  -webkit-background-size: cover; /* pour Chrome et Safari */
  -moz-background-size: cover; /* pour Firefox */
  -o-background-size: cover; /* pour Opera */
  background-size: cover; /* version standardisée */
  vertical-align: middle;
  margin-right: 15%;
  margin-left: 15%;
  margin-top: 0;
  margin-bottom: 0;
  vertical-align: middle;
  }

  .container
  {
  	margin-top: 4.5%;
  	position: relative;
  	text-align: center;
    overflow: hidden;
    height: 380px;
  }

 
 #left_arrow, #right_arrow
 {
 	display: inline-block;
 	
 	width: 90px;
 	height: 280px;
  margin-top: 30px;
 	text-align: center;
  background-color: white;
  z-index: 1000;

 }

 #left_arrow
 {
 	 margin: 0 0 0 0;
 	 position: absolute;
   left: 0;
    top:0;
 }

  #right_arrow
 {
 	float : right;
 	margin: 0 0 0 0;
  position: absolute;
  right: 0;
  top:0;
 }

#left_arrow_icon
 {
 	height: 280px;
 	width: 90px;
  margin-top: 30px;
  border-style: none;
 	display: inline-block;
 	background: url(pictures/left_arrow_smallRes.png);
 	background-repeat: no-repeat;
 	background-position:center center;
  cursor: pointer;
  -webkit-transition: background-image 0.5s;
  transition: background-image 0.5s;
 }



#left_arrow_icon:focus,
#right_arrow_icon:focus
 {
  border-style: none;
  outline: none;
  box-shadow: none;
 }



 #right_arrow_icon
 {
 	height: 280px;
 	width: 90px;
  margin-top: 30px;
 	display: inline-block;
  border-style: none;
 	background: url(pictures/right_arrow_smallRes.png);
 	background-repeat: no-repeat;
 	background-position:center center;
  cursor: pointer;
  -webkit-transition: background-image 0.5s;
  transition: background-image 0.5s;
 }



.trackIds
{
  display: none;
}



  .like_stamp
  {
    height: 150px;
    width: 150px;
    position: absolute;
    left: 140px;
    top: 21px;
    display : none;
    -webkit-transition: display 0.5s;
    transition: display 0.5s;
  }




  .like_stamp_left
  {
    height: 150px;
    width: 150px;
    position: absolute;
    left: -10px;
    top: 21px;
    display: none;
    -webkit-transition: display 0.5s;
    transition: display 0.5s;
  }




  .dislike_stamp_left
  {
    height: 150px;
    width: 150px;
    position: absolute;
    left: -10px;
    top: 21px;
    display: none;
  }

    .sound_box
  {
    vertical-align: middle;
    display: inline-block;
    margin: 0 117px 0 117px;
    position: relative;
    height: 380px;
    width: auto;
  }

 .socialIcons
  {
    height: 240px;
    width: 53px;
  }

  .socialIcon
  {
    height: 43px;
    width: 43px;
    margin-bottom: 17px;
  }

  .sound_cover
  {
    height: 240px;
    width: 240px;
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
  }




  .sound_informations
  {
    margin-top: 30px;
    display: inline-block;
    vertical-align: middle;
    padding: 0;
    overflow: hidden;
  }

  .sound_informations h3
  {
    text-align: left;
    line-height: 2.5em;
    font-size: 1.3em;

    font-family: 'open Sans';
    font-weight: 300;
    width: 363px;
    color: black;
    overflow: hidden;
  }


  .slider
  {
    width: 40000px;
    text-align: left;
    position : relative;
  }
 



#share_link
{
  display: none;
}


#minus_one:hover
{
  cursor: pointer;
  background: url(pictures/broken_heart2_pressed.png);
  width:30px;
  height:30px;
  -webkit-background-size: cover; /* pour Chrome et Safari */
  -moz-background-size: cover; /* pour Firefox */
  -o-background-size: cover; /* pour Opera */
  background-size: cover; /* version standardisée */
}
#plus_one:hover
{
  cursor: pointer;
  background: url(pictures/heart_like_pressed.png);
  width:30px;
  height:30px;
  -webkit-background-size: cover; /* pour Chrome et Safari */
  -moz-background-size: cover; /* pour Firefox */
  -o-background-size: cover; /* pour Opera */
  background-size: cover; /* version standardisée */
}


/*#minus_one:hover,
#plus_one:hover
 {
    -webkit-animation-name: bounce;
    -webkit-animation-duration: 0.45s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    animation-name: bounce;
    animation-duration: 0.45s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    
}*/

@-webkit-keyframes bounce
 {
    45% {
        width: 15px;
        height: 15px;
        
    }
    55% {
        width:  15px;
        height: 15px;
        
    }
    75% {
        width:  45px;
        height: 45px;
        
    }
}

keyframes bounce
 {
    45% {
        width:  15px;
        height: 15px;
        
    }
    55% {
        width:  15px;
        height: 15px;
        
    }
    75% {
        width:  45px;
        height: 45px;
        
    }
}

.share_url_title
{
  font-size: 1em;
  width: 100px;
  font-family: 'open Sans';
  font-weight: 300;
  color: white;
  display: none;
}


/* Versions réduites verticalement */



@media screen and (max-height: 630px) {

    .container
  {
    margin-top: 2.6%;
  }

    header h1
  {
    margin-top: 4.5%;
    font-size: 4.8em;
  }

#minus_one,
#plus_one
{

  width:25px;
  height:25px;
}

#minus_one:hover
{
  width:25px;
  height:25px;
}
#plus_one:hover
{
  width:25px;
  height:25px;
}


@-webkit-keyframes bounce
 {
    45% {
        width: 10px;
        height: 10px;
        
    }
    55% {
        width:  10px;
        height: 10px;
        
    }
    75% {
        width:  35px;
        height: 35px;
        
    }
}

keyframes bounce
 {
    45% {
        width:  10px;
        height: 10px;
        
    }
    55% {
        width:  10px;
        height: 10px;
        
    }
    75% {
        width:  35px;
        height: 35px;
        
    }
  }

  input[value="play"],
  input[value="pause"]
  {
      width:45px;
      height:45px;

  }


  footer
  {
    height: 120px;
  }


  #buttons_area
  {
    margin-top: 28px;   
  }


  
}

@media screen and (max-height: 540px) {

  .container
  {
    margin-top: 0.2%;
  }  

}

/* Version réduite horizontalement*/


@media screen and (max-width: 1024px) and (min-width: 600px) {

  .container
  {
    width: 750px;
    height: 280px;
  }

  .sound_box
  {
    margin: 0 104px 0 104px;
    height: 280px;
  }
  .sound_cover
  {
    height: 220px;
    width: 220px;
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
  }

  .socialIcons
  {
    height: 220px;
    width: 49px;
  }
  .socialIcon
  {
    height: 39px;
    width: 39px;
    margin-bottom: 15px;
  }
  .sound_informations h3
  {
    text-align: left;
    line-height: 2.5em;
    font-size: 1.1em;

    font-family: 'open Sans';
    font-weight: 300;
    width: 263px;
    color: black;
    overflow: hidden;
  }
  #left_arrow_icon, #right_arrow_icon
   {
    height: 220px;
   }
   #left_arrow, #right_arrow
   {
    height: 280px;
   } 


}

@media screen and (max-height: 630px) and (max-width: 1024px) {

 .container
  {
    margin-top: 5%;
  }

    header h1
  {
    margin-top: 4.5%;
    font-size: 4.5em;
  }

}
